<br>
<br>
<div class="container">
  <div class="row">
    <!-- điều hướng công cụ -->
    <div class="col-xs-12 col-sm-4">
      <div class="btn-group btn-group-lg mr-2 btn-group-vertical" role="group" aria-label="Menu bar">
        <button type="button" class="btn btn-primary" routerLink="/lecturer/danh-sách-sinh-viên-đang-hướng-dẫn">Danh sách sinh viên hướng dẫn</button>
        <button type="button" class="btn btn-primary" routerLink="/lecturer/danh-sách-sinh-viên-đang-chờ">Danh sách sinh viên đang chờ</button>
        <button type="button" class="btn btn-primary" routerLink="/lecturer/xem-báo-cáo-của-sinh-viên">Xem báo cáo của sinh viên</button>
        <!-- <button type="button" class="btn btn-primary" routerLink="/admin/phân-công-giảng-viên">Phân công giảng viên</button> -->
      </div>
    </div>

    <!-- phần hiển thị công cụ -->
    <div class="col-sm-8 mb-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>