<div class="card mx-0">
        <h5 class="card-title mx-2">
                {{titlefixed}}</h5>
        <p class="card-text mx-2">{{contentfixed}}</p>
        <div class="card-text mx-2">
                <a href="#" class=" float-right mx-2 smalltext">Trả lời</a>
                <p class=" float-left smalltext"> Người gửi:
                        <a href="#"> {{senderName}}</a>
                </p>
        </div>
</div>


<!-- <div class="list-group-item  flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{senderName}}: {{title}}</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">{{content}}</p>
            <small class="float-right">Trả lời</small>
        </div> -->