.avatar{
    position: relative;
}
img {
    display: inline;
    width: inherit;
    height: inherit;
}
.pen_icon{
    position: absolute;
    bottom: 0%;
    left: 0%;
    cursor: pointer;
}
.name{
    width: 250px;
    cursor: pointer;
    text-align: center;
    font-size: 120%;
}