<!-- Button trigger modal -->
<button id="notificationPopupOpenButton" style="display: none" type="button" class="btn btn-primary" data-toggle="modal"
  data-target="#notificationPopupModalLong">sdfsadfd
</button>

<!-- Modal -->
<div class="modal fade" id="notificationPopupModalLong" tabindex="-1" role="dialog" aria-labelledby="notificationPopupModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="notificationPopupModalLongTitle">Thông báo</h5>
        <button id="notificationPopupCloseButton" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 style="color: red" *ngIf="sumOfNotification == 0">Không có thông báo mới</h3>
        <div class="dropdown-item" *ngFor="let n of notifications">
          <div class="card mx-0" routerLink="/tin-nhan" (click)="closeModal()">
            <p class="card-header">{{n.title | limitText:50}}</p>
            <p class="card-text">{{n.content |limitText:50}}</p>
            <div class="card-text mx-2">
              <p class=" float-left smalltext"> Người gửi:
                <a class="btn-link" (click)="closeModal()" routerLink="/profile/{{n.senderName}}/{{n.senderID}}"> {{n.senderName}}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="closeModal()" routerLink='/tin-nhan'>Xem trong hộp thư</button>
      </div>
    </div>
  </div>
</div>
