<br/>
<br/>
<div class="container">
  <div class="row">
    <!-- điều hướng công cụ -->
    <div class="col-sm-4">
      <div class="btn-group btn-group-lg mr-2 btn-group-vertical" role="group" aria-label="Menu bar">
        <button type="button" class="btn btn-primary" routerLink="/partner/thêm-bài-đăng-thực-tập">Thêm bài đăng thực tập</button>
        <button type="button" class="btn btn-primary" routerLink="/partner/quản-lý-các-bài-đăng-thực-tập">Quản lý các bài đăng thực tập</button>
        <button type="button" class="btn btn-primary" routerLink="/partner/danh-sách-sinh-viên-đang-chờ">Danh sách sinh viên đang chờ</button>
        <button type="button" class="btn btn-primary" routerLink="/partner/đánh-giá-sinh-viên">Đánh giá sinh viên</button>
      </div>
    </div>

    <!-- phần hiển thị công cụ -->
    <div class="col-sm-8 mb-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>