.table {
  border: solid 1px;
  border-color: rgb(222, 226, 230);
}

.active {
  font-weight: bold;
}

table {
  width: auto;
}

table th {
  text-align: center;
}

td,
th {
  white-space: nowrap;
  padding-left: 30px;
  padding-right: 30px;
}

.stt {
  padding-left: 20px;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
}

.checkboxLecturer {
  margin-right: 10px;
}

.modal-body {
  margin-left: 15px;
  margin-right: 15px;
}

#btnSetLecturer {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.modal-content {
  width: 450px;
  min-width: 450px;
  height: 500px;
  min-height: 500px;
}

.page {
  position: absolute;
  bottom: 20px;
}