<table class="table">
  <thead>
    <tr>
      <th scope="col">MSSV</th>
      <th scope="col">Họ và tên</th>
      <!-- <th scope="col">Email</th> -->
      <th scope="col"> Hành động </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of myStudents">
      <th scope="row">{{s.studentCode}}</th>
      <!-- <td></td> -->
      <td><a routerLink="/profile/{{s.name}}/{{s.userID}}">{{s.name}}</a></td>
      <!-- <td>{{s.vnumail}}</td> -->
      <td>
        <div class="btn-group btn-group-sm" role="group">
            <button type="button" class="btn btn-secondary">Gửi tin nhắn</button>          
            <button type="button" class="btn btn-secondary">Xem các báo cáo</button>          
            <button type="button" class="btn btn-secondary">Chấm điểm</button>          
          <button type="button" class="btn btn-secondary">Viết đánh giá</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>