<br>
<br>
<div class="container">
  <div class="row">
    <!-- điều hướng công cụ -->
    <div class="col-xs-12 col-sm-4 mt-4">
      <div class="btn-group btn-group-lg mr-2 btn-group-vertical" role="group" aria-label="Menu bar">
        <button type="button" class="btn btn-primary" routerLink="/admin/thêm-tài-khoản">Thêm tài khoản</button>
        <button type="button" class="btn btn-primary" routerLink="/admin/quản-lý-tài-khoản">Quản lý tài khoản</button>
        <button type="button" class="btn btn-primary" routerLink="/admin/quản-lý-các-đợt-thực-tập">Quản lý đợt thực tập</button>
        <button type="button" class="btn btn-primary" routerLink="/admin/phân-công-giảng-viên">Phân công giảng viên</button>
      </div>
    </div>

    <!-- phần hiển thị công cụ -->
    <div class="col-md-8 mb-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>