<br/>
<br/>
<div class="container">
    <div class="row">
      <!-- điều hướng công cụ -->
      <div class="col-md-4">
        <div class="btn-group btn-group-lg mr-2 btn-group-vertical" role="group" aria-label="Menu bar">
          <button type="button" class="btn btn-primary" routerLink="/student/quản-lý-kỹ-năng-nghề-nghiệp">Kỹ năng nghề nghiệp</button>
          <button type="button" class="btn btn-primary" routerLink="/student/quản-lý-báo-cáo-định-kỳ">Báo cáo định kì</button>
          <button type="button" class="btn btn-primary" routerLink="/student/quản-lý-báo-cáo-toàn-văn">Báo cáo toàn văn</button>
          <!-- <button type="button" class="btn btn-primary" routerLink="/partner/đánh-giá-sinh-viên">Đánh giá sinh viên</button> -->
        </div>
      </div>
  
      <!-- phần hiển thị công cụ -->
      <div class="col-md-8 mb-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>