.table {
  border: solid 1px;
  border-color: rgb(222, 226, 230);
}

#roleTab {
  font-size: 20px;
}

.active {
    font-weight: bold;
}

table {
  width: auto;
}
table th {
  text-align: center;
}

td, th {
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
}

.stt {
  padding-left: 30px;
}