<!-- Các loại tài khoản -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" role="tab" aria-selected="true" (click)="onGetAccounts('student')">Sinh viên</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" aria-selected="false" (click)="onGetAccounts('lecturer')"> Giảng viên</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" aria-selected="false" (click)="onGetAccounts('partner')">Đối tác</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" role="tab" aria-selected="false" (click)="onGetAccounts('admin')">Quản trị viên</a>
  </li>
</ul>

<!-- Hiển thị danh sách tài khoản -->
<table class=" table table-striped table-hover ">
  <thead>
    <tr>
      <th scope="col ">STT</th>
      <th scope="col ">Tên</th>
      <th scope="col ">Số điện thoại</th>
      <th scope="col ">VNUmail</th>
      <th scope="col ">Email</th>
      <th scope="col "></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts; let i = index">
      <th scope="row ">{{ i + 1 }}</th>
      <td>{{ account.name }}</td>
      <td>{{ account.phoneNumber }}</td>
      <td>{{ account.vnumail }}</td>
      <td>{{ account.email }}</td>
      <td>
        <div class="btn btn-group btn-group-sm ">
          <button class="btn btn-danger " (click)="onDelete(account.account_userID) ">Xóa</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
