<div class="container">

    <div class="row">
        <div class="col-md-4">
            <!-- responsive -->
            <div class="d-none d-md-block">
                <br/>
                <br/>
            </div>
            <app-overview-avatar [userName]="userName" [avatar]="logo" (newAvatar)="changeAvatar($event)" [canModify]="isMyProfile"></app-overview-avatar>
            <button *ngIf="!isMyProfile" class="btn btn-primary" style="width: 250px" type="button" data-toggle="modal" [attr.data-target]=" '#'+ id">Gửi tin nhắn cho người này</button>
                  <div class="modal fade" [id]="id" tabindex="-1" role="dialog">
                      <app-message-modal receiverName="{{userName}}" [receiverID]="id"></app-message-modal>
                  </div>
        </div>
        <div class="col-md-8">
            <!-- responsive -->
            <div class="d-none d-md-block">
                <br/>
                <br/>
            </div>

            <!-- thông tin user -->
            <div *ngFor="let info of cantFixInfors">
                <div class="form-group row mb-0 ml-2">
                    <label for="static" class="col-sm-3 col-form-label">{{ info.fieldName |vietnam}} :</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control-plaintext ml-2" id="static" [value]="info.fieldValue">
                    </div>
                </div>
            </div>
            <form (ngSubmit)="submitProfile(formProfile)" #formProfile="ngForm">
                <div *ngFor="let info of canFixInfors">
                    <div class="form-group row ml-2 mb-0 mt-2">
                            <label [for]="info.fieldName" class="col-sm-3">{{info.fieldName|vietnam}}:</label>
                        <div class="col-sm-9 mt-2">
                            <input [id]="info.fieldName" [name]="info.fieldName" type="name" class="form-control" [(id)]="info.fieldName" [(ngModel)]="info.fieldValue">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary float-right my-3" *ngIf="isMyProfile"> Lưu thay đổi</button>
            </form>
        </div>
<br/>

    </div>

</div>