h4 {
  display: block !important;
}

img {
  display: block;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}

.btn {
  display: inline-block;
  margin: 1% 3% 1% auto;
}

.card {
  min-height: 200px;
}
