<div class="card bg-light mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <h4>{{job.partner_name}}: {{job.title}}</h4>
      </div>
      <div class="col-sm-4 col-md-3">
        <span *ngIf="remainingDay > 0" class="badge badge-primary float-right"> Còn {{ remainingDay }} ngày</span>
        <span *ngIf="remainingDay <= 0" class="badge badge-danger float-right"> Đã hết hạn đăng kí</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3 col-sm-2">
      <img src="{{job?.partner_logo}}" alt="Logo">
    </div>
    <div class="col-xs-9 col-sm-10">
      <p class="card-text">{{jobContent}}</p>
    </div>
  </div>

  <div class="row">
    <button *ngIf="job.status == 'unfollowed' && remainingDay > 0" class="btn btn-primary" (click)="onFollow()">Đăng ký</button>
    <button *ngIf="job.status == 'followed' && remainingDay > 0" class="btn btn-primary" (click)="onFollow()">Hủy đăng ký</button>
  </div>
</div>
