<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" routerLink="/home">Trang chủ</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Việc làm
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Các công ty hàng đầu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Nhà tuyển dụng</a>
      </li>
      <li class=" nav-item">
          <app-notification-bell class="nav-link" *ngIf="SignIn"></app-notification-bell>
        </li>
      <li class="nav-item">
        <app-menu-user *ngIf="SignIn"></app-menu-user>
      </li>      
      <li class="nav-item ">
        <app-sign-in *ngIf="! SignIn" class="nav-link ml-2"></app-sign-in>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" autofocus aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
    </form>


  </div>
</nav>