<div class="btn btn-group">
        <a class="nav-item active nav-link" href="#">
            {{nickname}}</a>
  
  <button type="button" class="btn dropdown-toggle dropdown-toggle-split" id="dropdownMenuReference" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" data-reference="parent">
    <!-- <span class="sr-only"></span> -->
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div>