
.btn,.btn:focus,.btn:active {
    background-color: transparent;
    border-color: transparent;
    color: white;
    outline: none !important;
    box-shadow: none;
 }
span,a{
    color: white;
}

.upper{
position: relative;
bottom: 15px;
}

.medium{
    position: relative;
    bottom:8px;
    left: 18px;
}
.low{
    position: relative;
    top:10px;
}
.arrow{
    position: relative;
    top:1px;
    right: 10px;
}