<h3 style="text-align: center">Kiểm tra thông tin các công ty không phải đối tác</h3>
<hr>
<div class="row">
  <div class="col-md-6 " *ngFor="let info of listPartnerInfo">
      <div class="card my-3" >
          <div class="card-body">
            <h5 class="card-title">Công ty: {{info.name}}</h5>
            <p class="card-text">Mô tả: {{info.shortDescribe}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: {{info.email}}</li>
            <li class="list-group-item">Số điện thoại: {{info.phoneNumber}}</li>
            <li class="list-group-item">Địa chỉ tòa nhà điều hành: {{info.operatorAddress}}</li>
            <li class="list-group-item">Địa chỉ sinh viên thực tập: {{info.internshipAddress}}</li>
            <li class="list-group-item">Người hướng dẫn thực tập của công ty: {{info.internGuideName}}</li>
            <li class="list-group-item">Email người hướng dẫn: {{info.internGuideEmail}}</li>
            <li class="list-group-item">Số điện thoại người hướng dẫn: {{info.internGuidePhoneNumber}}</li>
          </ul>
          <div class="card-body">
            <p>Sinh viên yêu cầu:<a routerLink="/profile/{{info['student.name'] | replaceSpace}}/{{info.requesterID}}" class="card-link">{{info['student.name']}}</a></p>
            <button  class="btn btn-success" (click)= "updatePartnerInfo(info.partner_infoID,'accepted',info.requesterID)">Chấp nhận</button>
            <button  class="btn btn-warning" (click)= "updatePartnerInfo(info.partner_infoID,'denied',info.requesterID)">Từ chổi</button>
            
          </div>
        </div>
  </div>
</div>
