<!-- Button trigger modal -->
<button style="display:none" id="buttonShowChangePasswordModal" type="button" class="link" data-toggle="modal" data-target="#changePasswordModal">
  Đổi mật khẩu
</button>
<!-- <button type="button" class="link" data-toggle="modal" data-target="#changePasswordModal">
  <i octicons="book" color="white"></i>
  <p>Đổi mật khẩu</p>
</button> -->

<!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="changePasswordModalTitle">Đổi mật khẩu</h5>
        <button type="button" class="close" data-dismiss="modal" id="closeChangePasswordModal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="changePassword(formChangePassword)" #formChangePassword="ngForm">
        <div class="modal-body">
          <label>Mật khẩu cũ</label>
          <input class="form-control" type="password" name="old_password" #old="ngModel" ngModel required>
          <label>Mật khẩu mới</label>
          <input class="form-control" type="password" name="new_password" #new1="ngModel" ngModel required>
          <label>Nhập lại mật khẩu</label>
          <input class="form-control" type="password" name="new_passwordReEnter" #new2="ngModel" ngModel required>
          <p *ngIf="(new1.touched) && new1.value != new2.value" style="color: red">Mật khẩu nhập lại không khớp</p>
          <p *ngIf="(new1.touched) && old.value == new1.value" style="color: red">Mật khẩu mới không được giống với mật khẩu cũ</p>
          <p *ngIf="changePasswordFailed" style="color: red">Cập nhập mật khẩu thất bại, có thể bạn đã nhập sai mật khẩu cũ !</p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="submit" class="btn btn-primary" [disabled]="formChangePassword.invalid">Đổi mật khẩu</button>
        </div>
      </form>
    </div>
  </div>
</div>