#message-box {
    height: 450px !important;
    overflow-y: scroll;
}
.notMyMessage{
    border-radius: 8px;
     padding: 4px;
      width: auto ;
    background-color: aliceblue;
    /* display: inline-block; */
}
.myMessage{
    border-radius: 8px; padding: 4px; width: auto;
    background-color:dodgerblue;
    width: auto;
    /* display: inline-block; */
}