<div class="container">
  <div class="row">
    <div class="col-4">
      <p>Message</p>
      <hr/>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
          Trần Quang Linh
        </button>
        <button type="button" class="list-group-item list-group-item-action">Trần Thị Minh Nguyệt</button>
        <button type="button" class="list-group-item list-group-item-action">Đinh Văn Giang</button>
      </div>
    </div>
    <div class="col-8">
      <br/>
      <hr/>
      <label for="inputAddress"></label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Nhập tin nhắn ...">
      <button type="submit" class="btn btn-primary my-2">Gửi</button>
    </div>
  </div>