<h3 style="text-align: center">Tin nhắn</h3>
<hr>
<h2 *ngIf="listConversations.length == 0" style="color: red; text-align: center;">Hiện không có cuộc hội thoại nào</h2>
<div *ngIf="listConversations.length > 0" class="container">
  <div class="row">

    <div class="col-4">
      <br/>
      <h4 style="text-align: center">Danh sách tin nhắn</h4>
      <hr>
      <div class="list-group">
        <button [style.background-color]="getStyle(i)" *ngFor="let conversation of listConversations; let i= index" class="list-group-item list-group-item-action"
          (click)="updateMessage(i)">
          <h5>
            {{conversation[0]['senderName']}}
          </h5>
          <h6 *ngIf="conversation[conversation.length-1].status=='unread'">{{conversation[conversation.length-1].content}}</h6>
          <p *ngIf="conversation[conversation.length-1].status=='read'">{{conversation[conversation.length-1].content}}</p>
        </button>
      </div>
      <h4 *ngIf="listConversations == []" style="color: red">Hiện không có cuộc hội thoại nào</h4>
    </div>


    <div class="col-8">
      <br/>
      <h4 style="text-align: center">{{currentConversation[0].senderName}}</h4>
      <hr/>
      <div id="message-box" class="rounded" style=" width: 100%; background-color: white; border: rgb(206, 206, 206) 1px solid">
        <div *ngFor="let message of currentConversation">
          <div  *ngIf="message.senderID != userID">            
            <div class="notMyMessage card">
              <h6>{{message.title}}</h6>
              <p>{{message.content}}</p>              
            </div>
            <br>          
          </div>
          <div *ngIf="message.senderID == userID">
            <div class="myMessage card">
              <h6 style="text-align: right; color: white">{{message.title}}</h6>
              <p style="text-align: right; color: white">{{message.content}}</p>
            </div>    
            <br>
          </div>
        </div>
        <br/>
      </div>

      <div class="input-group mb-3">
        <input (keydown)="catchEnterPress($event)" id="contentMessage" type="text" class="form-control" placeholder="Nhập tin nhắn ..." aria-label="Recipient's username"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          
          <div class="modal fade" id="sendNewMessage" tabindex="-1" role="dialog">
            <app-message-modal (messageSent)="ngOnInit()"></app-message-modal>
          </div>
          <button class="btn btn-primary" type="button" (click)="replyMessage()"><span octicons="mail" color="white"></span></button>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#sendNewMessage" (click)="sendMessageWithNewTile()">
              Gửi tin nhắn với tiêu đề mới
            </button>
        </div>
      </div>

    </div>
  </div>
</div>