<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand d-none d-md-block" *ngIf="showLogo" (click)="showSideBarNow()" routerLink="">
    <img src="/assets/uet.png" width="40" height="40">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Trang-chu/cac-bai-dang-thuc-tap/tat-ca/_">Các bài đăng thực tập</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Trang-chu/cac-don-vi-doi-tac">Các đối tác
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Trang-chu/cac-giang-vien">Các giảng viên
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item d-md-none" routerLinkActive="active">
        <a class="nav-link" routerLink="/tin-nhan">
          Tin nhắn
        </a>
      </li>
      <!-- student only in small screen only -->
      <li class="nav-item d-md-none" *ngIf="(user| isStudent)" routerLinkActive="active">
        <a class="nav-link" routerLink="/student/danh-sach-theo-doi">
          Danh sách theo dõi
        </a>
      </li>
      <li class="nav-item" *ngIf="(user| isStudent)" routerLinkActive="active">
        <a class="nav-link d-md-none" routerLink="/student/quan-ly-bao-cao">
          Quản lý báo cáo
        </a>
      </li>
      <li class="nav-item" *ngIf="(user| isStudent)" routerLinkActive="active">
        <a class="nav-link d-md-none" routerLink="/student/gui-yeu-cau-xac-nhan-cong-ty">
          Thực tập tại nơi khác
        </a>
      </li>

      <!-- lecturer only -->
    <li class="nav-item d-md-none" *ngIf="(user| isLecturer)" routerLinkActive="active">
        <a class="nav-link" routerLink="/lecturer/danh-sách-sinh-viên-đang-chờ">
          Sinh viên đang chờ
        </a>
      </li>
      <li class="nav-item d-md-none" *ngIf="(user| isLecturer)" routerLinkActive="active">
        <a class="nav-link" routerLink="/lecturer/danh-sách-sinh-viên-đang-hướng-dẫn">
          Hướng dẫn sinh viên
        </a>
      </li>
      <li class="nav-item d-md-none" *ngIf="(user| isLecturer)" routerLinkActive="active">
        <a class="nav-link" routerLink="/lecturer/xem-bang-diem">
          Xem bảng điểm
        </a>
      </li>
  
      <!-- partner only -->
      <li class="nav-item d-md-none" *ngIf="(user| isPartner)" routerLinkActive="active">
        <a class="nav-link" routerLink="/partner/quan-ly-bai-dang">
          Quản lý bài đăng
        </a>
      </li>
      <li class="nav-item d-md-none" *ngIf="(user| isPartner)" routerLinkActive="active">
        <a class="nav-link" routerLink="/partner/quan-ly-thuc-tap-sinh">
          Quản lý thực tập sinh
        </a>
      </li>
      <li class="nav-item d-md-none" *ngIf="(user| isPartner)" routerLinkActive="active">
        <a class="nav-link" routerLink="/partner/danh-sach-sinh-vien-dang-ky">
          Danh sách ứng viên
        </a>
      </li>
  
      <!-- admin only -->
      <li class="nav-item d-md-none" *ngIf="(user| isAdmin)" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/thêm-tài-khoản">
          Thêm tài khoản
        </a>
      </li>
      <li class="nav-item d-md-none" *ngIf="(user| isAdmin)" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/quản-lý-tài-khoản">
          Quản lý tài khoản
        </a>
      </li>
      <li class="nav-item d-md-none" *ngIf="(user| isAdmin)" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/quản-lý-các-đợt-thực-tập">
          Quản lý đợt thực tập
        </a>
      </li>
      <li class="nav-item d-md-none" *ngIf="(user| isAdmin)" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/phân-công-giảng-viên">
          Phân công giảng viên
        </a>
      </li>
      <li class="nav-item d-md-none" *ngIf="(user| isAdmin)" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/phe-duyet-cong-ty">
        Phê duyệt công ty
        </a>
      </li>

    </ul>
  </div>
  <!--đợi tín hiệu logout từ userMenu-->
  <app-menu-user *ngIf="SignIn" [userName]="userName" (loggedOut)="updateUserInfor()" (replyMessage)="callMessageModal($event)"></app-menu-user>
  <!--đợi tín hiệu login từ đây-->
  <app-sign-in *ngIf="!SignIn" class="nav-link mr-1 float-left" (loggedIn)="updateUserInfor()"></app-sign-in>
</nav>


<!-- Button trigger modal -->
<button style="display:none" id="btn-modal" class="hide" data-toggle="modal" data-target="#exampleModal"></button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-message-modal [receiverName]="receiverName" [receiverID]="receiverID" [sendNew]="false" [title]="messageTitle"></app-message-modal>
</div>
<app-notification-popup></app-notification-popup>