
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    <div class="card-text">
            <a href="#" class=" float-right">Trả lời</a>
            <a href="#" class=" float-left">Người gửi: {{senderName}}</a>
    </div>
    

    <!-- <div class="list-group-item  flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{senderName}}: {{title}}</h5>
              <small>3 days ago</small>
            </div>
            <p class="mb-1">{{content}}</p>
            <small class="float-right">Trả lời</small>
        </div> -->