.background{
    background-color: rgb(55, 60, 68);
    height: 20rem;
}
.center{
    position: relative;
    top:50%;
}

@media only screen and (max-width: 550px) {
    .background {
        height: 8rem;
    }
    .center{
        position: relative;
        top:5%;
    }    
}

.btn,.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
 select{
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 120%;
 }

 .WebsiteName{
     position: relative;
     top: 20%;
     color: white;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
     font-size: 40px;
 }