.background{
    background-color: rgb(55, 60, 68);
    height: 20rem;
}
.center{
    position: relative;
    top:50%;
}

@media only screen and (max-width: 550px) {
    .background {
        height: 8rem;
    }
    .center{
        position: relative;
        top:5%;
    }    
}