.container{
    background-color: rgb(255, 255, 255);
    border: 1px;
    border-radius: 10px;
    padding: 20px;
}
.logo{
    display: block;
    margin: auto;
    max-width: 70%;
    max-height: 70%;
}